In [1]:
import pandas as pd
import json

In [5]:
columns = ['OBJECTID', 'geometry']
data = []

data = []
columns = ['OBJECTID', 'geometry']

with open('/Users/sindiziu/Desktop/cratedb-demo/data/wfigs.geojson', 'r') as f:
    geojson = json.load(f)
    for feature in geojson['features']:
        properties = feature['properties']
        geometry = feature['geometry']
        if 'OBJECTID' in properties:
            lst = [properties['OBJECTID'], geometry]
            data.append(lst)
        else:
            print(f"Missing OBJECTID in feature: {feature}")

df = pd.DataFrame(data=data, columns=columns)

df = df.rename(columns={'OBJECTID': 'object_id'})    

df

      object_id                                           geometry
0        433366  {'type': 'Point', 'coordinates': [-109.8598116...
1        433367  {'type': 'Point', 'coordinates': [-110.7613119...
2        433369  {'type': 'Point', 'coordinates': [-110.9309118...
3        434919  {'type': 'Point', 'coordinates': [-105.4872348...
4        434606  {'type': 'Point', 'coordinates': [-86.74583515...
...         ...                                                ...
1335     435581  {'type': 'Point', 'coordinates': [-94.04417365...
1336     435589  {'type': 'Point', 'coordinates': [-120.5060049...
1337     435595  {'type': 'Point', 'coordinates': [-120.9731801...
1338     435598  {'type': 'Point', 'coordinates': [-118.1205122...
1339     435611  {'type': 'Point', 'coordinates': [-93.12072347...

[1340 rows x 2 columns]

In [6]:
columns_str = ", ".join(df.columns)
    
placeholders = ", ".join(["%s"] * len(columns))

sql_query = f"INSERT INTO wfigs ({columns_str}) VALUES ({placeholders})"

print(sql_query)

INSERT INTO wfigs (object_id, geometry) VALUES (%s, %s)